:root{
    --mainColor: #0bacc7;
    --darkColor:#113231;
}

.pContainer{
  padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: var(--darkColor);

}